h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

svg{
   
}

.bar{
    fill: rgb(0, 0, 0);
}

.bar:hover {
    fill: rgb(255, 157, 0);
  }

figure{
    padding: auto;
    
}
